# Framework
Django==1.8

# Libs
coverage==3.5
pep8==1.6.2
Pillow==2.8.1
psycopg2==2.6
py-bcrypt==0.4
pylint==1.4.3
raven==5.1.1
Sphinx==1.3.1

# Apps
django-axes==1.3.9
django-braces==1.8.0
django-crispy-forms==1.4.0
django-discover-jenkins==0.1.3
django-extensions==1.5.2
django-grappelli==2.6.4
django-pipeline==1.4.7
